@model Dictionary<string, UserContribution>
@{
    ViewData["Title"] = "Report";
}


<h1>Report</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Num Of Commits</th>
            <th scope="col">Num of Additions</th>
            <th scope="col">Num of Deletions</th>
            <th scope="col">% of Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserContribution uc in Model.Values) {
            <tr>
                <td scope="row">@uc.User</td>
                <td>@uc.Commits</td>
                <td>@uc.Additions</td>
                <td>@uc.Deletions</td>
                @if (ViewBag.Total != null) {
                    <td>@Math.Round((uc.getPercentOfTotal(ViewBag.Total) * 100), 2)%</td>
                }
            </tr>
        }
    </tbody>
</table>
<p>Time Taken: @ViewBag.TimeTaken</p>
<a class="page-link text-dark" asp-area="" asp-controller="ContributionCalculator" asp-action="Calculate">Calculate Another Repo</a>
